@font-face {
    font-family: Poppins;
    src: url(./Assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: Rowdies;
    src: url(./Assets/Rowdies-Bold.ttf);
}

* {
    margin : 0;
    font-family: Poppins;
}

.space {
    background-image: url(../src/Assets/space.png);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-attachment: scroll; */
    
}

.btn-primary{
    background-color: #030C34 !important;
}

.btn-primary:hover {
    background-color: #6407de !important;
}


.navbar{
    background-color:  #23181F;
   
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    font-weight: bolder;
    color: #6407de !important;
}

.galaxy {
    background-color: #030c348d;
}

/* h1 {
    font-family: Rowdies;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: #5A4BFB !important;
}
 */

p {
    font-size: 30px;
    margin-top: 150px !important;
    position: absolute;
    font-weight: bold ;
    color: white;
}

h2 {
    font-weight: bold !important;
    font-size: 35px !important;
}

.welcome {
    font-size:35px;
    margin-bottom: 160px !important;
    position: absolute;
    font-weight: bold;
    color: white;
}